#title {
    background-color: #ff3c68;
}

@font-face {
    font-family: 'Font Name';
    src: local('Font Name')
    url('/fonts/font.Montserrat') format('Montserrat'),
    url('/fonts/font.Ubuntu') format('Ubuntu');
}

#h1 {
    font-size: 3rem;
    font-family: 'Montserrat';
    line-height: 1.5;
}

#body {
    font-family: 'Montserrat';
}